<div class="row">
  <div class="col-9">
    <% if !@tracked_stocks.empty? %>
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="table-light">
            <th scope="col">Ticker</th>
            <th scope="col">Company</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%  @tracked_stocks.each do |stock|%>
            <tr>
              <th scope="row"><%= stock.ticker %></th>
              <td><%= stock.name %></td>
              <td><%= stock.last_price %></td>
              <td>
                <%= link_to 'Unfollow', user_stock_path(stock), method: :delete, class: "btn btn-sm btn-warning", data: {confirm: "Do you want to stop to track this stock?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No tracked stocks.</p>
    <% end %>
  </div>
</div>