<h1>My Friends</h1>
<h3 class="pt-3">Search Friends</h3>
<%= form_tag my_friends_search_friend_path, remote: true, class: "mb-2", method: :get do %>
  <div class="form-group row">
    <div class="col-6 no-right-padding">
      <%= text_field_tag :friend, params[:friend], placeholder: "Enter a friend to search for", 
                          autofocus: true, class: "form-control" %>
    </div>
    <div class="col-3 no-left-padding">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <i class="bi bi-search"></i>
      <% end %>
    </div>
  </div>
<% end %>

<div id="friend-results" class="mb-2">
</div>

<hr class="col-9">

<h3>Friends I follow</h3>

<%= render 'friends/list' %>