@import 'bootstrap/dist/css/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

#logo {
  font-size: 2rem; 
  color: cornflowerblue; 
  margin-right:10px;
}
.navbar.navbar-expand-lg.navbar-light {
  background-color: rgb(212, 226, 226);
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}

.active {
  border-bottom: 1px solid;
}

