@import 'bootstrap/dist/css/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

#logo {
  font-size: 2rem; 
  color: cornflowerblue; 
  margin-right:10px;
}
.navbar.navbar-expand-lg.navbar-light {
  background-color: rgb(221, 230, 230);
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}

.active {
  border-bottom: 1px solid;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

#jumbotron {
  background: linear-gradient( rgba(27, 27, 27, 0.5), rgba(216, 204, 204, 0.5) ), asset_url('finance-jumbotron.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
